<div class="flex justify-between items-center">
    <p>결과를 확인하고 싶은 주제를 선택해주세요🙌​</p>
    <button class="explain-btn ml-3 text-sm flex items-center gap-1"
            data-title="정당/주제별 표결 현황 차트"
            data-content='
            <p><strong>표결 기준:</strong> 국회 본회의 표결 데이터 중 가결 법안에 대해 정당 소속 의원들이 어떻게 투표했는지 집계</p>
            <ul class="list-disc pl-5 mt-2 text-sm">
                <li>찬성, 반대, 기권, 불참 수 기준 정당별 누적합 백분율 계산</li>
                <li>마우스를 대면 정당 내 표결 비율을 확인할 수 있습니다</li>
            </ul>
            <p class="mt-3 text-gray-500 text-xs">※ 데이터 출처: 열린국회정보 Open API</p>
            '>
        <i class="fi fi-rr-search"></i>
    </button>
</div>
<label for="clusterSelect" class="block font-semibold mt-3 mb-2"></label>
<select id="clusterSelect" class="w-full border rounded border-gray-300 rounded-md px-3 py-2">
    {% for cluster in cluster_vote_data %}
    <option value="{{ cluster.cluster_num }}">{{ cluster.cluster_keywords }}</option>
    {% endfor %}
</select>

    {{ cluster_vote_data|json_script:"cluster-vote-data" }}
    {{ cluster_categories|json_script:"cluster-categories" }}
    {{ cluster_party_names|json_script:"cluster-party-names" }}
    {{ cluster_party_colors|json_script:"cluster-party-colors" }}
<br>