{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- 제목 및 설명 -->
<div class="max-w-4xl mx-auto text-center py-16 px-4 sm:px-6 lg:px-8">
  <h1 class="text-4xl font-extrabold text-gray-900 mb-6">지금 우리 '국회'는?</h1>
  <p class="text-md text-gray-600 mb-10">
    "국회의 표결은 우리의 삶과 직결됩니다.
    <br>
    궁금한 법안, 내 지역구 의원, 그들의 선택까지—한눈에 확인하세요."
  </p>

<!-- 검색창 -->
<section>
  <form method="GET" action="{% url 'search' %}">
    <input type="text" name="q" placeholder="검색어를 입력해주세요" class="text-xl font-semibold">
    <button type="submit" class="text-xl font-semibold rounded p-1 text-cyan-500">검색</button>
  </form>
</section>
{% endblock %}
